@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background-color: #191922;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

p {
    color: #DDE1E4;
}

#root {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.invisible-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}