h1, h2, h3, h4 {
    color: #DDE1E4;
    font-family: Helvetica, serif;
}

.resume-title-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.resume-container {
    padding: 0 30px 30px 30px;
    background-color: #1f1f28;
    max-height: calc(100dvh - 50px);
    border-radius: 20px;
    overflow-y: auto;
    transition: filter 1s;
}

.resume-container.side-bar-open {
    overflow-y: hidden;
    filter: blur(5px);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.content-grid-item {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #2d2d38;
    padding: 0 15px 0 15px;
}

.rounded-shadowed-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 3px 5px #1f1f28;
}

.content-grid-item-icon {
    margin: -20px 5px 0 0;
}

.university-title-date-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.university-title {
    font-size: large;
}

.university-dates {
    margin-top: -15px;
    color: #B2BEB5;
    font-size: medium;
}

.technical-skills-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));;
    gap: 10px 10px;
}

.technical-skills-grid-item {
    background-color: #2d2d38;
    border-radius: 10px;
    padding: 0 15px 0 15px;
}

.technical-skills-grid ul {
    margin-top: -5px;
}

.technical-skills-grid-item li {
    color: #B2BEB5;
}

.content-grid-item a {
    text-decoration: none;
}

.project-name-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-name-link p:hover {
    filter: brightness(1.3);
    transition: 200ms ease-in;
}

.link-icon {
    height: 20px;
    width: 20px;
}

.project-description {
    color: #B2BEB5;
    font-size: smaller;
}

.project-icon {
    width: 60px;
    height: 60px;
}

#hugging-face-icon, #java-icon {
    width: 70px;
    height: 70px;
}

#scikit-icon {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: larger;
    }

    h2 {
        font-size: medium;
    }

    h3 {
        font-size: small;
    }

    .content-grid-item p, .technical-skills-grid-item p, li {
        font-size: small;
    }

    .rounded-shadowed-icon {
        width: 45px;
        height: 45px;
    }

    .content-container {
        grid-template-columns: 1fr;
    }

    .technical-skills-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px) {
    .resume-container {
        max-height: none;
    }
}

@media screen and (max-width: 1024px) {
    .resume-container {
        border-radius: 0 0 20px 20px;
    }
}



