.main-page-content {
    display: flex;
    gap: 10px;
}

.side-menu-icon {
    position: relative;
    filter: invert(1) brightness(0.5);
    height: 35px;
    width: 35px;
    will-change: transform;
    left: 0;
    z-index: 2;
    transition: transform 600ms ease;
}

.side-menu-icon.move {
    transform: translateX(265px);
}

.page {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 10px;
    width: min(1920px, 90%);
}

.top-bar {
    display: none;
    padding: 10px;
    background-color: #202029;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 810px) {
    .side-menu-icon {
        height: 25px;
        width: 25px;
    }
}

@media only screen and (max-width: 1080px) {
    .top-bar {
        display: flex;
    }
}
